body {
    margin: 0px;
    font-family: Roboto, "Playfair Display", serif;
}

.aboutMeSection {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    transform-origin: left;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.aboutMeSection::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background: #0891B2;
    left: 0;
    box-shadow: 0px 2px 2px rgb(201, 200, 200);
    transform: skew(0, -10deg);
    transform-origin: top left;
}

.aboutMeImageContainer {
    height: auto;
    width: 100%;
    background-image: url("static/att.TljSoHLuw1gIDUxyTUTq-3rtvFAIwv9emAAwRFE_P4k.JPG");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-left: 50px;
    width: 40%;
    color: white;
    justify-content: center;
    box-shadow: 1px px 4px rgb(151, 150, 150);
}

.aboutMeTextContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 40px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(151, 150, 150);
}

.aboutMeTextContainer>p {
    margin-top: 30px;
}

.aboutMeLogosContainer { 
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-top: 40px
}

.aboutMeLogosContainer>img {
    height: 25px;
    margin-bottom: 20px;
}

.myWorkSection{
    padding-left: 50px;
    padding-right: 50px;
}

.myWorkSection>h2 {
    margin-bottom: 10px;
}

.projectsSection {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}

.projectDiv {
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: 1px 1px 3px rgb(151, 150, 150);
    padding-bottom: 50px;
}

.projectScreenshot {
    display: flex;
    align-items: center;
    text-align: center;
}

.projectScreenshot>h1 {
    font-size: 28px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;

}

.projectContent {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.projectContent>p {
    font-size: 12px;
    font-weight: 300;
}

.projectTitleLogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectLogos>img {
    height: 18px;
    margin-right: 5px;
}

.contactSection {
    background-color: #0891B2;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
    gap: 100px;
}

.contactLogos>img {
    height: 30px;
    margin-right: 15px;
}

.contactNumber, .contactEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addressSection {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-items: start;
}

.contactImageContainer>img {
    height: auto;
    width: 100%;
}

svg {
    height: 20px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    font-family:"Playfair Display", roboto;
}

h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    font-family:"Playfair Display", roboto;
}

h3 {
    font-weight: 500;
    margin: 0;
    font-family:"Playfair Display", roboto;
}

p {
    font-weight: 300;
}

@media screen and (max-width: 1200px) {

    .aboutMeSection {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .aboutMeImageContainer {
        height: 400px;
        width: 45%;
        background-image: url("static/att.TljSoHLuw1gIDUxyTUTq-3rtvFAIwv9emAAwRFE_P4k.JPG");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: end;
        margin-left: 35px;
        margin-top: 10px;
        color: white;
        justify-content: center;
        box-shadow: 1px 1px 4px rgb(151, 150, 150);
        position: absolute;
        z-index: 3;
        float: left;
    }
    .aboutMeImageContainer>h1 {
        z-index: 4;
        translate: 250px -320px;
    }

    .aboutMeTextContainer {
        display: block;
        padding-left: 0px;
        padding-right: 40px;
        padding-top: 40px;
        margin-top: 90px;
        margin-right: 80px;
        margin-bottom: 30px;
        margin-left: 80px;
        width: 100%;
        height: 380px;
        background-color: white;
        box-shadow: 1px 1px 3px rgb(151, 150, 150);
        translate: 0px 25px;
        position: relative;
        z-index: 2;
    }

    .blockTablet {
        width: 58%;
        height: 280px;
        float: left;
        display: block;
        translate: -46px -36px;
        z-index: 1;
    }

    .aboutMeTextContainer>h2 {
        padding-top: 20px;
        text-align: center;
    }

    .aboutMeTextContainer>p {
        margin-top: 10px;
        line-height: 1.8;
        padding-left: 20px;
    }

    .aboutMeLogosContainer {
        display: none;
    }

    .aboutMeSection::before {
        content: '';
        display: block;
        height: 80%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        background: #0891B2;
        left: 0;
        box-shadow: 0px 2px 2px rgb(201, 200, 200);
        transform: skew(0, -14deg);
        transform-origin: top left;
    }

    .myWorkSection {
        margin: 0px 30px 0px 30px;
    }

    .projectsSection {
        
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 80px;
    }

    .contactImageContainer>img {
        height: auto;
        width: 100%;
    }

}

@media screen and (max-width: 600px) {

    .aboutMeSection {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
        transform-origin: left;
        margin-bottom: 80px;
        align-items: center;
    }

    .aboutMeSection::before {
        content: '';
        display: block;
        height: 53%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        background: #0891B2;
        left: 0;
        box-shadow: 0px 2px 2px rgb(201, 200, 200);
        transform: skew(0, -32deg);
        transform-origin: top left;
    }
    .aboutMeImageContainer {
        height: 570px;
        width: 80%;
        background-image: url("static/att.TljSoHLuw1gIDUxyTUTq-3rtvFAIwv9emAAwRFE_P4k.JPG");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: end;
        margin-left: 50px;
        margin-right: 50px;
        color: white;
        justify-content: center;
        box-shadow: 1px 1px 4px rgb(151, 150, 150);
        position: relative;
    }

    .aboutMeImageContainer>h1 {
        font-size:70px;
        z-index: 4;
        translate: 0px;
    }

    .aboutMeTextContainer {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px;
        margin: 0px 20px 0px 20px;
        width: 100%;
        background-color: white;
        translate: 0px 0px;
        box-shadow: none;
    }

    .aboutMeTextContainer>h2 {
        font-size: 50px;
    }

    .aboutMeTextContainer>p {
        font-size: 27px;
    }

    .blockTablet {
        display: none;
    }

    .aboutMeLogosContainer { 
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 0px

    }

    .aboutMeLogosContainer>img {
        height: 40px;
        margin-bottom: 20px;
    }

    .myWorkSection {
        margin: 400px 0px 0px 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .myWorkSection>h2 {
        justify-self: center;
        font-size: 48px;
    }
    
    .projectsSection {
        display: grid;
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 40px;
        margin-bottom: 80px;
    }

    .projectDiv {
        grid-template-rows: 4fr 1fr;
    }

    .projectScreenshot>h1 {
        font-size: 50px;
    }

    .contactSection {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 70px;
        padding: 0px;
        margin-bottom: 0px;
    }

    .contactContent {
        padding: 20px;
        
    }
    .contactContent>h2 {
        justify-self: center;
        font-size: 55px;
    }

    .contactContent>p {
        font-size: 30px;
    }

    .contactLogos {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .contactLogos>img {
        height: 50px;
    }

    .contactImageContainer {
        height: 100%;
        background-size:auto;
    }

}