body {
    margin: 0px;
}


.aboutMeSection {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    transform-origin: left;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.aboutMeSection::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  background: #0891B2;
  left: 0;
  box-shadow: 0px 2px 2px rgb(201, 200, 200);
  transform: skew(0, -8deg);
  transform-origin: top left;
}

.aboutMeImageContainer {
    height: 350px;
    width: auto;
    background-image: url("static/att.TljSoHLuw1gIDUxyTUTq-3rtvFAIwv9emAAwRFE_P4k.JPG");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-left: 50px;
    width: 40%;
    color: white;
    justify-content: center;
    box-shadow: 1px 1px 10px rgb(110, 110, 110);
}

.aboutMeTextContainer {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 50%;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(151, 150, 150);
}

.aboutMeLogosContainer { 
    display: flex;
    gap: 20px;
}

.aboutMeLogosContainer>img {
    height: 25px;

}

.myWorkSection{
    padding-left: 50px;
    padding-right: 50px;
}

.projectsSection {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 80px;
}

.projectDiv {
    display: grid;
    grid-template-rows: 2fr 1fr;
    box-shadow: 1px 1px 10px rgb(151, 150, 150);
    padding-bottom: 50px;
}

.projectContent {
    padding-left: 15px;
    padding-right: 15px;
}

.contactSection {
    background-color: #0891B2;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}

h1 {
    margin: 0;
    font-size: 60px;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}